
<button ng-click="connectButton()" id="connectButton" type="button">Connect twitter</button>

<div id="container" style="display:none">
	<button ng-click="refreshTimeline()" id="getTimelineButton" type="button">Get Timeline</button>
	<button ng-click="signOut()" id="signOut" type="button">signout</button>

	<input type="text" ng-model="searchTerm" id="searchBox" ng-show="connectedTwitter">


	<br/>
	<br/>

	<textarea ng-model="newtweet"></textarea>
	<!-- <input type="text" id="n" ng-model="newtweet"> -->
	<button ng-click="tweet()">tweet</button>

	<br/>
	<br/>

	<input type="file" id="newimage" name="image" ng-model-instant onchange="angular.element(this).scope().upload(event)" multiple />
	<!-- <button ng-click="upload()">upload</button> -->

	<div id="results">
		<div ng-repeat="t in tweets | filter:searchTerm">
			<img ng-ssrc="{{t.user.profile_image_url}}">
			<small>{{t.user.name}}</small>
			<br>
			<span ng-bind-html="t.text"></span>
		</div>

		<div ng-show="rateLimitError">
		rate error
		</div>

		<input type="button" id="load-more" ng-click="refreshTimeline(tweets[tweets.length-1].id)" ng-show="connectedTwitter" value="load more">
	</div>
</div>