Filter <input type="text" ng-model="searchquery">

<br />
{{user.data.content.name}}
<br />
<textarea ng-model="newtweet"></textarea>
<button ng-click="tweet()">Tweet</button>
<br/>

<button ng-file-select ng-model="myFiles" ng-file-change="upload($files)">Upload</button>

<!-- <div class="button" ngf-select="upload($file)">Upload on file select</div> -->
<input type="file" class="button" ngf-select="upload($files)" multiple accept="image/*" value="upload on file select">

<br />

<h3>Timeline</h3>
<div id="results">
	<div ng-repeat="t in tweets | filter: searchquery">
		<img ng-src="{{t.user.profile_image_url}}">
		<small>{{t.user.name}}</small>
		<span ng-bind-html="t.text"></span>
		<br />
	</div>
</div>

<h3>Mention</h3>
<div class="mention-area">
	<div ng-repeat="t in mentions.data | filter: searchquery">
		<img ng-src="{{t.user.profile_image_url}}">
		<strong>{{t.user.name}}</strong>
		<span ng-bind-html="t.text"></span>
		<br />
	</div>
</div>